body {
  background-image: url("../png/background.png");
  background-attachment: fixed;
  background-size: cover;
  margin: 10;
  padding: 0;
}

.header {
  display: flex;
  height: 100px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top:1%;
  background-color: yellow;
  flex-direction: column;
}

.banner { 
  display:flex;
  flex-direction: column;
  justify-content: center;
}
.taskbar {
  display:flex;
  flex-direction: row;
  align-self: center;
  line-height: 2%;
}

.tabs {
background-color: black;
padding: 5px;
margin-left: 3%;   
}

p{
  flex-grow: 1;
}

