* {
  padding: 0;
  margin: 0;

}

body {
  background-image: url("../png/background.png");
  background-attachment: fixed;
  background-size: cover;
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  height: 100px;
  flex-direction: column;
}



.tabs {
padding: 30px;
margin-left: 3%;
<<<<<<< HEAD
=======
   color:white;
}
.tabs:hover {
  color:red;
>>>>>>> origin/master
}

p{
  flex-grow: 1;
}

.forum {
  padding-top:100px;
}
.articles {
  display: flex;
<<<<<<< HEAD
  flex-direction: row; 
=======
  flex-direction: row;
  background-color: green;
>>>>>>> origin/master
  height:900px;
  padding: 0px;
  margin-left: 250px;
  margin-top: 250px;
  margin-right: 250px;

}

.rightdiv {
background-color: red;
height: 1000px;
width:50%;
display:flex;
margin:10px;
flex-direction: column;
}

.leftdiv {
  background-color: white;
  height:1000px;
  width:50%;
  margin:10px;
  display:flex;
  flex-direction: column;

}

.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

.taskbar {
background: url(../img/taskbar.png) center;
box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.75);
width: 100%;
height: 45px;
position: fixed;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
opacity: 0.9;
z-index: 2;
background-color: white;
top: 0;
left: 0;

}

.gameplay_title {
  text-align: center;
  font-size: 150px;
  letter-spacing: 3px;

}

.rightdiv_gameplay {
  background-color: red;
height: 1000px;
width:50%;
display:flex;
flex-direction: column;
}

.leftdiv_gameplay {
  background-color: black;
  height:1000px;
  width:50%;
  display:flex;
  flex-direction: column;

}
