body {
  background-image: url("../png/background.png");
  background-attachment: fixed;
  background-size: cover;
  margin: 10;
  padding: 0;
}

.header {
  display: flex;
  height: 100px;
  margin-left: 100px;
  margin-right: 100px;
  background-color: yellow;
    flex-direction: column;
}

.taskbar {
flex-direction: column;
}
.h2 {
  margin-left: 40%;
  margin-right: 40%;
}
.nav_item {
margin: 15px;
margin-left: 5%;
}


p{
  flex-grow: 1;
}
